<form action="/navigate" method="post">
  <input type="text" name="new_movie" autofocus>
  <button>New Movie</button>
</form>

<form action="/navigate" method="post">
  <input type="text" name="destination" autofocus>
  <button>GO</button>
</form>