<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Movie List</title>
    </head>
  <body bgcolor="#EFFBF8">
    <%= yield %>
  </body>

<p>
  <a href="/" style="text-decoration: none">
    Home
  </a>
  <a href="/new_movie" style="text-decoration: none">Create new movie
  </a>
</p>

</html>

