<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Movie List</title>
    </head>
  <body>
    <%= yield %>
  </body>

<a href="/">Home</a>
<a href="/new_movie">Create new movie</a>

</html>

