<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Movie List</title>
    </head>
  <body>
    <%= yield %>
  </body>

<p>
  <a href="/">Home</a>
  <a href="/new_movie">Create new movie</a>
</p>

</html>

