<!DOCTYPE html>
<html>
<head>
  <title>Movie Library</title>
</head>
<body>
  <%= yield %>
  <p><a href = "/new_movie">Add a movie to the library</a></p>
  <p><a href= "/">Home</a></p>
</body>
</html>


