<!doctype html>
<html>
<head>
	<title>MovieList</title>
</head>
<body>
	<center>
		<%= yield %>
	</center>
	<a href = "/">Return Home</a>
	<a href = "/new_movie">Add a new Movie</a>
</body>
</html>



