<h1>Enter the name of a movie</h1>

<form action="/new_movie" method="post">
  <input type="text" name="movie" autofocus>
  <button>GO</button>
</form>

i wanna be able to go to a specific movie from here