<h2>Welcome to Kevon's Movie Collection</h2>
<h4>Feel free to browse around</h4>

<ul>
  <% @movies.each do |movie| %>
    <li>
      <a href="movie/<%= movie %>">
        <%= movie %>
      </a>
    </li>
    <% end %>
</ul>

<a href="/new_movie" name="New Movie">Add Movie</a>