<h1>Add a new movie</h1>

<form action="/new_link" method="post">
  <input type="movie.title" name="name" autofocus>
  <input type="movie.year" name="year" autofocus>
  <input type="movie.director" name="director" autofocus>
  <input type="movie.image" name="image" autofocus>
  <input type="movie.revenue" name="revenue" autofocus>
  <button>GO</button>
</form>