<h1>What Movie would you like to add, friend?</h1>
<form action = "/new_movie" method = "post">
  <input type = "text" name = "title" value = "title" autofocus>
  <input type = "text" name = "year_released" value = "year_released">
  <input type = "text" name = "director_name" value = "director_name">
  <input type = "text" name = "image_link" value = "image_link">
  <input type = "text" name = "box_office_revenue" value = "box office revenue">
  <button>Submit</button>
</form>
