<h1>Add a new movie</h2>

<form action="/new_movie" method="post">
  <input type="text" name="title" autofocus>
  <input type="text" name="year_released" autofocus>
  <input type="text" name="director_name" autofocus>
  <input type="text" name="image_link" autofocus>
  <input type="text" name="box_office_revenue" autofocus>
  <button>Click to add movie</button>
</form>