<h1>Add a new Movie</h1>

<form action="/new_movie" method="post">
  <input type="text" name="title" autofocus>
  <input type="text" name="year of release" autofocus>
  <input type="text" name="director name" autofocus>
  <! need an image file brought over from movies.csv>
  <input type="text" name="image" autofocus>
  <input type="text" name="box office reveniue" autofocus>
  <button>GO</button>
</form>

