<h1>Add a new movie to the list!</h1>

  <form action="" method="post">
   Title of movie <br />
  <input type="text" name="title" autofocus><br />
    Year: <br />
  <input type="text" name="year" autofocus><br />
    Director: <br />
  <input type="text" name="director" autofocus><br />
    Movie poster URL:<br />
  <input type="text" name="image" autofocus><br />
    Budget:<br />
  <input type="text" name="budget" autofocus><br />
  <button>Add Movie!</button>
</form>