<h1>You can create a new movie page here!</h1>
<p>Please enter information about the movie you'd like to add:</p>

<form action="/new_movie" method="post">
  <ul>
    <li><input type="text" name="title" autofocus>Title</li>
    <li><input type="text" name="year_of_release" autofocus>Year of Release</li>
    <li><input type="text" name="director" autofocus>Director</li>
    <li><input type="text" name="img_link" autofocus>Image link</li>
    <li><input type="text" name="revenue" autofocus>Box Office Revenue</li>
  </ul>
  <button>Submit</button>
</form>