
<form action="/new_movie" method="post">
  <input type="text" name="title" placeholder="Movie Name" autofocus>
  <input type="text" name="year of release"
    placeholder="Year of Release" autofocus>
  <input type="text" name="director name" placeholdeer ="Director"autofocus>
  <input type="text" name="image" placeholder="Image" autofocus>
  <input type="text" name="box office reveniue"
    placeholder="Box Office Revenue" autofocus>
  <button>GO</button>
</form>


