<form action=" " method="post">
<p>Title</p>
<form input="text" title="title" autofocus>
<p>Year:</p>
<form input="text" title="year" autofocus>
<p>Director:</p>
<form input="text" title="director" autofocus>
<p>Movie poster:</p>
<form input="text" title="movie poster" autofocus>
<p>Revenue:</p>
<form input="text" title="revenue" autofocus>
<button>Add the Movie</button>
</form>