<h1>Add a movie!<h1>

<h4>
<form action="/new_movie" method="post">
    <label for="title">Title</label>
    <input type="text" name="title"></br>
    <label for="year">Year</label>
    <input type="text" name="year"></br>
    <label for="picture">Image URL</label>
    <input type="text" name="picture"></br>
    <label for="revenue">Revenue</label>
    <input type="text" name="revenue"></br>
    <button>Add to movie list</button></br>
  </form>
</h4>