<h1>Add a new Movie</h1>

<form action="/new_movie" method="post">
  <input type="text" name="name" autofocus>
  <input type="text" name="year" autofocus>
  <input type="text" name="director" autofocus>
  <input type="text" name="link" autofocus>
  <button>Submit</button>
</form>