<!DOCTYPE html>
<html>
  <head>
    <title>Add a New Movie</title>
  </head>
  <body>
    <h1>Add a new movie</h2>
    <p>Enter movie title, year, director, image URL, and box office revenue</p>

    <form action="/new_movie" method="post">
      <input type="text" name="title" autofocus>
      <input type="text" name="year_released" autofocus>
      <input type="text" name="director_name" autofocus>
      <input type="text" name="image_link" autofocus>
      <input type="text" name="box_office_revenue" autofocus>
      <button>Click to add movie</button>
    </form>
  </body>
</html>