<h1>add a new movie</h1>

<form action="/new_movie" method="post">
  <p>Title: <input type="text" name="title" autofocus></p>
  <p>Year: <input type="text" name="year" autofocus></p>
  <p>Director: <input type="text" name="director" autofocus></p>
  <p>Picture URL: <input type="text" name="picture_url" autofocus></p>
  <p>Revenue: <input type="text" name="revenue" autofocus></p>
  <button>new movie</button>
</form>
