<h1> Add a Movie! </h1>
<form action = "/new_movie" method = "post">
	<input type = "text" name = "title" value = "title" autofocus>
	<input type = "text" name = "year" value = "year" >
	<input type = "text" name = "director" value = "director">
	<input type = "text" name = "img_link" value = "img link">
	<input type = "text" name = "revenue" value = "revenue">
	<button>Submit<button>
</form>
