<h1>Add a new movie</h1>

<form action="/new_movie" method="post">
  <label for="title">Title</label><br>
  <input type="text" name="title" autofocus><br>
  <label for="title">Year</label><br>
  <input type="text" name="year"><br>
  <label for="title">Director</label><br>
  <input type="text" name="director"><br>
  <label for="title">Image (URL)</label><br>
  <input type="text" name="image_url"><br>
  <label for="title">Box Office Revenue</label><br>
  <input type="text" name="box_office"><br>
  <br>
  <button>GO</button>
</form>