<form action="/new_movie" method="post">
  <input type="text" name="title" placeholder="Movie Title" autofocus>
  <input type="text" name="year" placeholder="Year of Release">
  <input type="text" name="director" placeholder="Director">
  <input type="text" name="image" placeholder="Image URL">
  <input type="text" name="revenue" placeholder="Box Office Revenue">
  <button>Submit</button>
</form>
