<form action=" " method="post">
<p>Title</p>
<form input="text" method="title" autofocus>
<p>Year:</p>
<form input="text" method="title" autofocus>
<p>Director:</p>
<form input="text" method="title" autofocus>
<p>Movie poster:</p>
<form input="text" method="title" autofocus>
<p>Revenue:</p>
<form input="text" method="title" autofocus>
<button>Add the Movie</button>
</form>