<form action="" method="post">
  <input type="text" name="title" autofocus>
  <input type="text" name="year" autofocus>
  <input type="text" name="director" autofocus>
  <input type="text" name="image" autofocus>
  <input type="text" name="budget" autofocus>
  <button>Add Movie!</button>
</form>